#include "resource.h"

IDI_ICON            ICON DISCARDABLE    "../res/icon.ico"

IDR_POINTER_PNG     RCDATA              "../res/pointer.png"

IDR_EFFECT_WAV      WAVE                "../res/effect.wav"
IDR_EFFECT_MOVE_WAV WAVE                "../res/effect_move.wav"

STRINGTABLE
BEGIN
    IDS_GITHUB_URL, "https://github.com/haloperidozz/finger-pointer"
END

IDM_MENU_MAIN MENU 
BEGIN 
    POPUP "ContextMenu"
    BEGIN 
        MENUITEM "Show [ALT + H]",  IDM_ITEM_SHOW
        MENUITEM "Source Code",     IDM_ITEM_SOURCE_CODE 
        MENUITEM "Exit",            IDM_ITEM_EXIT
    END 
END 