/**
 * Copyright 2025 haloperidozz
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *           http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "resource.h"

IDI_ICON                ICON DISCARDABLE    "../res/icon.ico"

IDR_POINTER_PNG         RCDATA              "../res/pointer.png"

IDR_EFFECT_WAV          WAVE                "../res/effect.wav"
IDR_EFFECT_MOVE_WAV     WAVE                "../res/effect_move.wav"

STRINGTABLE
BEGIN
    IDS_TITLE,          "FingerPointer"

    IDS_GITHUB_URL,     "https://github.com/haloperidozz/finger-pointer"
    IDS_TELEGRAM_URL,   "https://t.me/haloperidozz"
    IDS_TIKTOK_URL,     "https://www.tiktok.com/@haloperidozz"

    IDS_NOTIFY_TITLE,   "How to use:"
    IDS_NOTIFY_INFO,    "\
ALT + H - Toggle pointer visibility\r\n\
ALT + M - Toggle marker visibility\r\n\
Mouse Wheel - Resize pointer\0\
                        "
END

IDM_MENU_MAIN MENU 
BEGIN 
    POPUP "ContextMenu"
    BEGIN 
        MENUITEM "Show [ALT + H]",      IDM_ITEM_SHOW
        MENUITEM SEPARATOR
        MENUITEM "Source Code",         IDM_ITEM_SOURCE_CODE 
        MENUITEM "TikTok",              IDM_ITEM_TIKTOK 
        MENUITEM "Telegram Channel",    IDM_ITEM_TELEGRAM 
        MENUITEM SEPARATOR
        MENUITEM "Exit",                IDM_ITEM_EXIT
    END 
END 